[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
pytest = "*"
os = "*"
psycopg2 = "*"
uuid = "*"
Enum = "*"
datetime = "*"
hashlib = "*"
logging = "*"
black = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.10"
